
$start-button-bgcolor: #61f961;
$start-button-color: darken($start-button-bgcolor, 43%)

.StartButton
    display: inline-block
    padding: 10px 30px
    margin: 6%
    border: 1px solid #bcd7c6
    border-radius: 20px
    background-color: $start-button-bgcolor
    // color: #297929
    color: $start-button-color
    text-decoration: none
    font-weight: bold
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2)

    &:hover
        background-color: lighten($start-button-bgcolor, 5%)
        color: lighten($start-button-color, 1%)
